// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }




// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {  }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }



// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {  }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    // .distance {
    //     margin: 50px 0;
    // }
 }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    .header {
        height: 300px;
    }
 }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {  }


// No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
@include media-breakpoint-up(sm) {  }
@include media-breakpoint-up(md) {  }
@include media-breakpoint-up(lg) {  }
@include media-breakpoint-up(xl) {  }
