@import "./bootstrap/_functions.scss";
@import "./bootstrap/_variables.scss";
@import "./bootstrap/_bootstrap.scss";
@import "_mixins.scss";

#main {
    background-color: #96CEB4;
}

#functions {
    background-color: #FFEEAD;
}

#rateme {
    background-color: #FF6F69;
}

#contact #no-more {
    background-color: #FFCC5C;
}

#greetings {
    background-color: #AAD8B0;
}

// Farbauswahl fuer die Kasten:
// https://color.adobe.com/de/life-s-a-beach-color-theme-11738112/edit/?copy=true&base=2&rule=Custom&selected=4&name=Kopie%20von%20life%20s%20a%20beach&mode=rgb&rgbvalues=0.5882352941176471,0.807843137254902,0.7058823529411765,1,0.9333333333333333,0.6784313725490196,1,0.43529411764705883,0.4117647058823529,1,0.8,0.3607843137254902,0.6666666666666666,0.8470588235294118,0.6901960784313725&swatchOrder=0,1,2,3,4

#indicator {
    position: fixed;
    left: 0px;
    top: 0px;
    display: block;
    width: 5px;
    z-index: 9999;
    background: rgba(225,75,75,.85);
}
#scroller {
    width: 1px;
    position: relative;
}
#header-background {
    // height: 100px;
    // line-height: 100px;
    margin-bottom: 150px;
    background-color: #006C8C;
}

.header {
    height: 175px;
}

.navbar-logo {
    @include background-image("../img/icon.png");
    height: 75px;
}

.navbar-link {
    color: #C7402D;
    font-size: 2rem;
    &:hover {
        background-color: white;
        -webkit-transition: background-color 1000ms linear;
        -ms-transition: background-color 1000ms linear;
        transition: background-color 1000ms linear;
    }
}

// .content-title {}
.functions {
    margin-bottom: 50px;
}

.content-showoff-img {
    @include background-image("../img/allofit.png");
    height: 250px;
}

.article1-img {
    @include background-image("../img/YoutubeAutoplay.png");
    height: 300px;
}

.article2-img {
    @include background-image("../img/YoutubeSidebar.png");
    height: 300px;
}

.article3-img {
    @include background-image("../img/YoutubeEndscreen.png");
    height: 300px;
}

.footer-copyright {
    color: #006C8C;
    font-size: 15px;
    text-align: center;
}

.footer-contact-button {
    @include spacer(50px 0);
}

.fa-twitter {
    font-size: 48px;
    color: dodgerblue;
    &:hover {
        color: darken(dodgerblue, 15%);
    }
}

.footer-background {
    height: 100px;
}
@import "_responsive.scss";
